<article class="event">
      <div class="event_data">
        <a href="/post/{{event_name}}">{{event_name}}</a>
        <span>by {{username}} on {{event_date}} in {{event_category}}</span>
      </div>
      <div class="meta">
        {{location}} {{zip}} 
      </div>
</article>
