<article class="event">
      <div class="event_data">
        <a href="/event/{{event_name}}">{{event_name}}</a>
        <span>on {{format_date event_date}} in {{event_category}}</span>
      </div>
      <div class="meta">
        {{location}} {{zip}} 
        |
        {{attending_count}} attending
        |
        {{interested_count}} interested
      </div>
</article>